Source: azkaban-solo-server
Section: shells
Priority: extra
Maintainer: Jiri Kozlovsky <jiri.kozlovsky@firma.seznam.cz>
Build-Depends:
 debhelper (>= 7.0.50~), openjdk-8-source, openjdk-8-jre-jamvm, openjdk-8-jdk, npm (>= 1.4)
Standards-Version: 3.9.4

Package: azkaban-solo-server
Architecture: all
Depends:
 openjdk-8-jdk | oracle-java8-jdk | coreutils | 9base | grep | procps | bash
Description: Azkaban workflow manager (Solo server)
 Azkaban is a batch workflow job scheduler created at LinkedIn to run Hadoop jobs. Azkaban resolves the ordering through job dependencies and provides an easy to use web user interface to maintain and track your workflows. 

