Source: azkaban
Section: shells
Priority: extra
Maintainer: Sklik Stats <sklik.stats@firma.seznam.cz>
Build-Depends:
 debhelper (>= 7.0.50~) 
Standards-Version: 3.9.4

Package: azkaban
Architecture: all
Description: Azkaban workflow manager
 Azkaban is a batch workflow job scheduler created at LinkedIn to run Hadoop jobs. Azkaban resolves the ordering through job dependencies and provides an easy to use web user interface to maintain and track your workflows. 

